<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
  <h1 class="heading">Daijo Calculator: Hisab ra Pisab jahile Clear</h1>

  <div class="form-group">
      <label for="caste" >Your Caste</label>
 <select id="caste" name="yourscaste">
  <option>Select your caste</option>
  <option value="Brahmin">Brahmin</option>
  <option value="Chhetri">Chhetri</option>
  <option value="Newar">Newar</option>
  <option value="Gurung">Gurung</option>
  <option value="Magar">Magar</option>
  <option value="Rai">Rai</option>
  <option value="Limbu">Limbu</option>
  <option value="Tamang">Tamang</option>
  <option value="Sherpa">Sherpa</option>
  <option value="Thakuri">Thakuri</option>
  <option value="Dalit">Dalit</option>
  <option value="Jaisi">Jaisi</option>
  <option value="Kami">Kami</option>
  <option value="Damai">Damai</option>
  <option value="Sarki">Sarki</option>
  <option value="Sanyasi">Sanyasi</option>
  <option value="Kumal">Kumal</option>
  <option value="Badi">Badi</option>
  <option value="tharu">Tharu</option>
  <option value="Yadav">Yadav</option>
  <option value="Muslim">Muslim</option>
  <option value="Christian">Christian</option>    
  <option value="Others">Others</option>
 </select>
  </div>
  
 <!-- Bride caste -->
 <div class="form-group">
  <label for="bcaste" >Bride Caste</label>
  <select id="bcaste" name="bridecaste">
      <option>Select her caste</option>
      <option value="Brahmin">Brahmin</option>
      <option value="Chhetri">Chhetri</option>
      <option value="Newar">Newar</option>
      <option value="Gurung">Gurung</option>
      <option value="Magar">Magar</option>
      <option value="Rai">Rai</option>
      <option value="Limbu">Limbu</option>
      <option value="Tamang">Tamang</option>
      <option value="Sherpa">Sherpa</option>
      <option value="Thakuri">Thakuri</option>
      <option value="Dalit">Dalit</option>
      <option value="Jaisi">Jaisi</option>
      <option value="Kami">Kami</option>
      <option value="Damai">Damai</option>
      <option value="Sarki">Sarki</option>
      <option value="Sanyasi">Sanyasi</option>
      <option value="Kumal">Kumal</option>
      <option value="Badi">Badi</option>
      <option value="tharu">Tharu</option>
      <option value="Yadav">Yadav</option>
      <option value="Muslim">Muslim</option>
      <option value="Christian">Christian</option>    
      <option value="Others">Others</option>
     </select>
 </div>
  
     <!-- Profession -->
     <div class="form-group">
      <label for="prof" >Your Profession</label>
  <select id="prof" name="Profession">
      <option>Select your Profession</option>
         <option value="Engineer">Engineer</option>
         <option value="Doctor">Doctor</option>
         <option value="Nurse">Nurse</option>
         <option value="Teacher">Teacher</option>
         <option value="Pilot">Pilot</option>
         <option value="Businessman">Businessman</option>
         <option value="Banker">Banker</option>
         <option value="Lawyer">Lawyer</option>
         <option value="Journalist">Journalist</option>
         <option value="Politician">Politician</option>
         <option value="Actor">Actor</option>
       
         <option value="Singer">Singer</option>  
         <option value="bideshi rojgar">Bideshi Rojgar</option>
      <option value="Others">Others</option>
     </select>
     </div>
  
     <!-- Bride Profession -->
  
     <div class="form-group">
      <label for="bride" >Bride Profession</label>
      <select id="bride" name="brideprof">
          <option>Select Bride Profession</option>
             <option value="Engineer">Engineer</option>
             <option value="Doctor">Doctor</option>
             <option value="Nurse">Nurse</option>
             <option value="Teacher">Teacher</option>
             <option value="Pilot">Pilot</option>
             <option value="Businessman">Businessman</option>
             <option value="Banker">Banker</option>
             <option value="Lawyer">Lawyer</option>
             <option value="Journalist">Journalist</option>
             <option value="Politician">Politician</option>
             <option value="Actor">Actor</option>
           
             <option value="Singer">Singer</option>  
             <option value="bideshi rojgar">Bideshi Rojgar</option>
          <option value="Others">Others</option>
         </select>
     </div>

     <!-- Your Age -->
     <div class="form-group">
      <label for="age" >Your Age</label>
      <input type="number" id="age" class="age" placeholder="Enter you age">
     </div>
 
  <!-- Bride Age -->
  <div class="form-group">
      <label for="bage" >Bride Age</label>
  <input type="number" id="bage" class="bage" placeholder="Enter brides age">
  </div>

  <div class="form-group">
      <label for="salary" >Salary</label>
  <input type="number" id="salary" class="salary" placeholder="Enter you Salary">
  </div>
  
  <!-- Button -->
  <button class="btn">Submit</button>

  <label class="maxamt">Maximum-Amount:</label>
  <label class="maxamt">Minimum-Amount:</label>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- <router-outlet /> -->
